*{
    background-color: #4c061d;
    color:#b4c292;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    overflow: hidden;
}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CircleAnim{
    width: 115vw;
    height: 115vw;
    border-radius: 50%;
    background-color:#b4c292;
    position: absolute;
}
.animStart{
    animation: circleIN 1s ease-in-out forwards;
}
.text{
    margin-bottom:6rem;
    text-align: center;
}
.text span{
    font-size: 34px;
}
.text p {
    font-size: 28px;
}
.text h3{
    font-size: 24px;
}
.inputs #checknumber{
    font-size: 30px;
    border:#b4c292 1px solid;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: .7rem;
    transition: all .3s;
}
.inputs #checknumber:hover{
    color: #4c061d;
    background-color: #b4c292;
}
.inputs input[type=number]{
    font-size: 30px;
    margin-bottom: 2rem;
    text-align: center;
}
.inputs input[type=number]:focus{
    outline:none;
}
.inputs #resetButton{
    font-size: 16px;
}
@keyframes circleIN {
    0%{
        width: 115vw;
        height: 115vw;
    }
    100%{
        width: 0;
        height: 0;
    }   
}
@keyframes circleIN_320 {
    0%{
        width: 120vh;
        height: 120vh;
    }
    100%{
        width: 0;
        height: 0;
    }
}

@media only screen and (max-width: 600px){
    *{
        overflow: hidden;
    }
    .CircleAnim{
        width: 120vw;
        height: 120vw;
    }
    .text span{
    margin: 0 0 1rem 0;
    font-size: .7rem;
    }
    .text p{
        font-size:.9rem;
        margin: .1rem 0 0 0;
    }
    .text h3{
        margin: .02rem 0 0 0;
        font-size: .8rem;
    }
    .animStart{
        animation: circleIN_320 1s ease-in-out forwards;
    }
    .inputs{
        width: 18rem;
        display: flex;
        flex-direction: column;
    }
    .inputs input[type=number]{
        font-size: 1.5rem;
        padding: .5rem .5rem .5rem .5rem;
        border: 1px solid #b4c292;
        border-radius: .7rem;
    }
    .inputs input[type=number]::placeholder{
        opacity: .2;
        color: #b4c292;
    }
    .inputs #checknumber{
        font-size:1rem;
        border-radius: .7rem;
    }
}